<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost/toothfairy</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">123456</property>
    <property name="connection.pool_size">10</property>
    <property name="show_sql">true</property>
    <property name="hbm2ddl.auto">update</property>
    <property name="hibernate.connection.autocommit">false</property>
    <property name="current_session_context_class">thread</property>
    <mapping class="toothfairy1.Models.Users"/>
    <mapping class="toothfairy1.Models.FairyTable"/>
    <mapping class="toothfairy1.Models.ToothTable"/>
    <mapping class="toothfairy1.Models.TaskTable"/>
    <mapping class="toothfairy1.Models.ChildTable"/>
    <mapping class="toothfairy1.Models.ParentTable"/>
  </session-factory>
</hibernate-configuration>
